@charset "utf-8";
.style.css {
}
body{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*****Admin con start here*****/
#admin_con{
width:1000px;
height:auto;
margin-left:auto;
margin-right:auto;
}
/*****header strips start here*****/
#header_strips{
width:1000px;
height:100px;
margin-left:auto;
background-color:#cccccc;
margin-right:auto;
}
.clr{
clear:both;
font-size:1px;
line-height:1px;
height:1px;
}
a {
	color: #0771A5;
}
a:hover {
	color: #000;
	text-decoration: none;
}
h1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
color:#000;
margin:0px;
padding:20px;
color:#0771A5;
}
/*****header strips ends here*****/
/*****Strips Start here*****/
.strips{
width:1000px;
height:33px;
background-color:#0771A5;}
/*****Strips Ends here*****/
.left_box{
width:300px;
height:auto;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
color:#fff;
font-weight:normal;
padding-top:3px;
padding-left:15px;
}
.right_box{
height:auto;
float:right;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#fff;
font-weight:normal;
padding-top:3px;
padding-right:15px;
}
.right_box a{
height:auto;
float:right;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#fff;
font-weight:normal;
padding-top:3px;
padding-right:15px;
text-decoration:none;

}

/*****contentpanel Start here*****/
#contentpanel{
width:1000px;
height:auto;
}
#contentpanel_1{
width:998px;
height:340px;
border: 1px solid #fff;
}
/*****leftpanel Start here*****/
#leftpanel{
width:180px;
height:auto;
float:left;
margin-right:10px;
margin-top:5px;
padding-bottom:5px;
}
#leftpanel_2{}
#leftpanel_2 ul{
margin:0px;
padding:0px;
list-style:none;
}
#leftpanel_2 ul li{
float:left;
display:block;
width:180px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
}
#leftpanel_2 ul li a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
background-color:#CCCCCC;
width:180px;
height:auto;
padding:10px;
text-decoration:none;
}
#leftpanel_2 ul li a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
background-color:#333333;
}
#leftpanel_1{
width:200px;
height:auto;
float:left;
background-color:#ccc;
}
#leftpanel_1 ul{
margin:0px;
padding:0px;
list-style:none;
}
#leftpanel_1 ul li{
float:left; 
display:block;
width:120px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
margin-left:15px;
}
#leftpanel_1 ul li a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
background-color:#CCCCCC;
width:100px;
height:auto;
padding:10px 10px 10px 16px;
background-image:url(../images/round_ic.gif);
background-repeat:no-repeat;
background-position:2px 14px;
text-decoration:none;
}
#leftpanel_1 ul li a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
background-image:url(../images/round1.gif);
background-repeat:no-repeat;
background-color:#333333;
}
/*****leftpanel ends here*****/
/*****rightpanel Start here*****/
#rightpanel{
width:808px;
height:auto;
float:left;
margin-top:5px;
}
#forgotPasswordrightpanel{
width:1000px;
height:auto;
float:left;
margin-top:5px;
margin-bottom:20px;
}
.grey{
width:auto;
height:auto;
padding:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#fff;
background-color:#0771A5;
text-align:center;
}
.grey_white{
background-color:#cccccc;
width:auto;
padding:5px;
height:auto;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#323232;
}
/*****leftpanel ends here*****/
/*****contentpanel ends here*****/
/*****footer Start here*****/
#footer{
width:auto;
height:auto;
padding:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
text-align:center;
background-color:#0771A5;
}
/*****footer ends here*****/
.login_box{
background-color:#0771A5;
margin-left:auto;
margin-right:auto;
width:310px;
height:auto;
margin-top:80px;
padding:20px;
}
.text{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
padding:5px;
}
.text1{
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
padding:1px;
}
.submit{background-color:#000;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
padding:3px;
border:0px;
}
.button{background-color:#0771A5;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
padding:0px;
border:0px;
}
.remember{color:#000000;
font-family:Arial, Helvetica, sans-serif;
padding:3px;
font-size:12px;
}
.forgot{color:#000000;
font-family:Arial, Helvetica, sans-serif;
padding:3px;
font-size:11px;
}
.input{color:#FF0000;
font-size:14px;
font-family:"Times New Roman", Times, serif;
}
.textbox{
background-color:#FFFFFF;
border:1px solid #999999;
width:150px;
}
.error_message{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FF0000;
text-align:center;
}
.success_message{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;

text-align:center;
color:#FFFFFF;
}
.fontstyle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}

.heading{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0771A5;
	font-weight:bold;
}
/******deep start here*****/
.gery_box{
width:159px;
height:193px;
float:left;
margin-right:5px;
padding:10px;
background-image:url(../../images/box1.jpg);
background-repeat:no-repeat;
background-position:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}
.gery_box h2{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
margin:0px;
padding:0px;
padding-bottom:10px;
font-weight:normal;
}
.middle_icon_img{
text-align:center;
width:100px;
height:100px;
text-align:center;
padding:15px 10px 10px 10px;
margin-left:auto;
margin-right:auto;
padding-bottom:5px;
background-color:#fff;
}

.gery_box1{
width:405px;
height:193px;
float:left;
margin-right:5px;
padding:10px; 
background-image:url(../../images/box2.jpg);
background-repeat:no-repeat;
background-position:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}
.gery_box1 h2{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
margin:0px;
padding:0px;
padding-bottom:10px;
font-weight:normal;
}
.middle_icon_img1{
text-align:center;
width:350px;
height:105px;
text-align:center;
padding:15px 10px 10px 10px;
margin-left:auto;
margin-right:auto; 
padding-bottom:5px;
background-color:#fff;
}
  
.button1{
padding:5px;
}
.button_left{
float:left;
width:70px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
text-align:center;
}
.button_left a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-align:center;
text-decoration:underline;
}
.button_left a:hover{
text-decoration:none;
}
.white_clr{
background-color:#FFFFFF;
}
/*****deep end here******/
.icon-text{ font-size:12px; color:#000; text-align:left;}
.icon-text a{ font-size:12px; color:#0771A5; text-align:center; text-decoration:none; font-weight:bold;}
.icon-text a:hover{ font-size:12px; color:#000; text-align:center; text-decoration:underline; font-weight:bold;}/*****Admin con ends here*****/